= form_for(guild, html: {class: 'form-horizontal'}) do |f|
  - if guild.errors.any?
    #error_explanation
      %h2
        = pluralize(guild.errors.count, "error")
        prohibited this guild from being saved:
      %ul
        - guild.errors.full_messages.each do |message|
          %li= message
  .actions
    = form_for @guild do |f|

      .row
        .form-group
          = f.label :name, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :name, class: 'form-control'

      .row
        .form-group
          = f.label :hide_from_members, 'Only show guild member stats to guild officers', class: 'col-sm-2 control-label'
          .checkbox
            %label.checkbox-inline
              = f.check_box :hide_from_members
        
    = f.submit 'Submit', class: 'btn'
