.row
  .col-md-12
    .page-header.no-border
      %h1.inline
        = @guild.name

        %small.inline
          = @invite_link

#guild-stats
  .row
    .col-md-3
      .text-center
        .darken
          Average AP
        %h1.gearscore
          = @guild.average_ap

    .col-md-3
      .text-center
        .darken
          Average Awakening AP
        %h1.gearscore
          = @guild.average_awakening_ap

    .col-md-3
      .text-center
        .darken
          Average DP
        %h1.gearscore
          = @guild.average_dp

    .col-md-3
      .text-center
        .darken
          Average Gearscore
        %h1.gearscore
          = @guild.average_gearscore

.row
  .col-md-12
    #tab-list
      %ul.nav.nav-tabs
        %li.active{"role" => "presentation"}
          %a{ "href" => "#members", "id" => "home-tab", "role" => "tab", "data-toggle" =>  "tab", "aria-controls" => "members", "aria-expanded" => "true" }
            Guild Members
        - if @membership.try(:admin?)
          %li{"role" => "presentation"}
            %a{ "href" => "#invites", "id" => "invites-tab", "role" => "tab", "data-toggle" =>  "tab", "aria-controls" => "invites", "aria-expanded" => "true" }
              Pending Invites
 
      .tab-content
        - if @membership.try(:admin?)
          #invites.tab-pane{"role" => "tabpanel"}
            %table.table.table-borderless.table-striped
              %thead
                %th Character Name
                %th Invited by
                %th 
              %tbody
                - @unaccepted_members.each do |member|
                  %tr
                    %td.col-md-5
                      = "#{member.user.family_name}##{member.user.name}"
                    %td.col-md-5
                      = member.invitor.try(:name)
                    %td.col-md-1
                      = form_for member, url: {controller: 'guild_memberships', action: 'accept_invite'} do |f|
                        = f.hidden_field :accepted, value: true

                        = f.submit "Accept", class: 'btn btn-success'


            
        #members.tab-pane{"role" => "tabpanel"}
          - unless @membership.try(:admin?)
            .row
              .col-md-2
              .col-md-8
                .center
                  You are not an officer of the guild an cannot view the guild members stats

          - else
            %table.table.table-borderless.table-striped
              %thead
                %th Name
                %th Level
                %th AP
                %th Awk AP
                %th DP
                %th GS
                %th Energy
                %th Con
                %th Boss Gear

              %tbody
                - @members.each do |member|
                  %tr
                    %td
                      = "#{member.family_name}##{member.name}"
                    %td
                      = member.level
                    %td{:class => "#{member.green_ap? ? "text-success" : "text-danger"}" }
                      = member.ap
                    %td{:class => "#{member.green_awakening_ap? ? "text-success" : "text-danger"}" }
                      = member.awakening_ap
                    %td{:class => "#{member.green_dp? ? "text-success" : "text-danger"}" }
                      = member.dp
                    %td{:class => "#{member.green_gearscore? ? "text-success" : "text-danger"}" }
                      = member.gearscore
                    %td
                      = member.energy
                    %td
                      = member.contribution

                    %td
                      - User::BOSS_GEAR.each do |item_name|
                        - if member.send item_name.to_sym
                          .text-success.inline
                            = item_name.titleize
                        - else
                          .text-danger.inline
                            = item_name.titleize

