.row
  .col-md-12
    .page-header.no-border
      %h1.inline
        - if @guild.hide_from_members?
          = fa_icon("user-secret")
        = @guild.name

        %small.inline
          %button{type: 'button', class: 'btn btn-sm', "data-toggle" => 'modal', "data-target" => '#invite-link-modal'}
            Invite Link

          = button_to 'Leave Guild', @membership, class: 'inline btn btn-danger btn-sm', method: 'delete', data: {confirm: "Are you sure you want to leave #{@guild.name}?"}

          - if @membership.try(:royalty?)
            = link_to "Edit", edit_guild_path(@guild), class: 'fa fa-pencil'


#guild-stats
  - unless @membership.accepted?
    Your invite has not yet been accepted by the guild leader and you cannot see the guild stats
  - else
    .row
      .col-md-3
        .text-center
          .darken
            Average AP
          %h1.gearscore
            = @guild.average_ap

      .col-md-3
        .text-center
          .darken
            Average Awakening AP
          %h1.gearscore
            = @guild.average_awakening_ap

      .col-md-3
        .text-center
          .darken
            Average DP
          %h1.gearscore
            = @guild.average_dp

      .col-md-3
        .text-center
          .darken
            Average Gearscore
          %h1.gearscore
            = @guild.average_gearscore

.row
  .col-md-12
    #tab-list
      %ul.nav.nav-tabs
        %li.active{"role" => "presentation"}
          %a{ "href" => "#members", "id" => "home-tab", "role" => "tab", "data-toggle" =>  "tab", "aria-controls" => "members", "aria-expanded" => "true" }
            Guild Members
        - if @membership.try(:royalty?)
          %li{"role" => "presentation"}
            %a{ "href" => "#invites", "id" => "invites-tab", "role" => "tab", "data-toggle" =>  "tab", "aria-controls" => "invites", "aria-expanded" => "true" }
              Pending Invites
              - if @unaccepted_members.any?
                %span.badge.badge-pill.badge-danger
                  = @unaccepted_members.count

    .tab-content
      #members.active.tab-pane{"role" => "tabpanel"}
        = render partial: 'members_table'

      - if @membership.try(:royalty?)
        #invites.tab-pane{"role" => "tabpanel"}
          = render partial: 'join_requests'

#invite-link-modal.modal.fade
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Invite Link
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p
          Give this link to your guild members and if they follow it they will request to join the guild, similar to discord.
        %p
          = @invite_link
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
