= form_for(user, html: {class: 'form-horizontal'}) do |f|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message

  .row
    .form-group
      = f.label :family_name, "Family Name", class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :family_name, class: 'form-control', placeholder: 'Family Name'

  .row
    .form-group
      = f.label :name, "Character Name", class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :name, class: 'form-control', placeholder: 'Character Name'

  .row
    .form-group
      = f.label :ap, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :ap, class: 'form-control', placeholder: 'Mainhand AP'

  .row
    .form-group
      = f.label :awakening_ap, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :awakening_ap, class: 'form-control', placeholder: 'Awakening Weapon AP'

  .row
    .form-group
      = f.label :dp, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :dp, class: 'form-control', placeholder: 'Total DP'

  .row
    .form-group
      = f.label :energy, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :energy, class: 'form-control', placeholder: 'Total Energy'

  .row
    .form-group
      = f.label :contribution, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :contribution, class: 'form-control', placeholder: 'Total Contribution'

  .row
    .form-group
      = f.label :level, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :level, class: 'form-control', placeholder: 'Level'

  .form-group
    = f.label :gear_screenshot, class: 'col-sm-2 control-label'

    = f.label :gear_screenshot, class: 'btn btn-primary' do
      = f.file_field :gear_screenshot, class: 'hide', onchange: "$('#upload-file-info').html($(this).val());"
      Upload Gear Screenshot

    %span#upload-file-info.label.label-info

  .form-group
    = f.label :avatar, class: 'col-sm-2 control-label'

    = f.label :avatar, class: 'btn btn-primary' do
      = f.file_field :avatar, class: 'hide', onchange: "$('#upload-avatar-file-info').html($(this).val());"
      Upload Avatar

    %span#upload-avatar-file-info.label.label-info



  .row
    .form-group
      - User::BOSS_GEAR.each do |item_name|
        .col-md-5.col-md-offset-2
          .checkbox
            %label.checkbox-inline
              = f.check_box item_name.to_sym
              = item_name.titleize
      
  = f.submit 'Save Stats', class: 'btn btn-primary'
