.container
  - unless @user.family_name
    %p
      Please finish updating your character profile to continue

    = link_to 'Edit Stats', edit_user_path(@user) if @user == current_user
  - else
    .row
      .col-md-12
        .page-header
          .media
            .pull-left
              - if @user.avatar_content_type
                = image_tag @user.avatar.url(:thumb), class: 'img-circle'
              - else
                = image_tag 'missing-user-image.png', class: 'img-circle'

            .media-body
              %h1.inline.mt-0
                = @user.family_name
              %small.inline
                = @user.name
                %small.inline
                  - if @user.guild
                    = link_to @user.guild.name, @user.guild
                  - else
                    You are not a member of a guild
                    = link_to 'Create a guild', new_guild_path
                  Lv.
                  = @user.level
               
                  = link_to 'Edit Stats', edit_user_path(@user), class: 'fa fa-pencil' if @user == current_user


              .row
                .col-md-1
                  .text-center
                    .darken
                      AP
                    %h3.gearscore
                      = @user.ap || 0

                .col-md-1
                  .text-center
                    .darken
                      Awk AP
                    %h3.gearscore
                      = @user.awakening_ap || 0

                .col-md-1
                  .text-center
                    .darken
                      DP
                    %h3.gearscore
                      = @user.dp || 0


                .col-md-8
                  - User::BOSS_GEAR.each do |item_name|
                    .col-md-1
                      = item_name.titleize
                      - if @user.send item_name.to_sym
                        %h5.gearscore.obtained
                          Yes
                      - else
                        %h5.gearscore.pleb
                          No

    .row
      .col-md-4
        .text-center
          Player Ranking
          %h1
            = @user.percentile_calculations["player_rank"]

      .col-md-4
        .text-center
          AP Percentile
          %h1
            Top
            = @user.percentile_calculations["ap_percentile"]
            \%

      .col-md-4
        .text-center
          Awakened AP Percentile
          %h1
            Top
            = @user.percentile_calculations["awakening_ap_percentile"]
            \%

    - if @user.gear_screenshot_content_type
      .row.gear-screenshot
        .col-md-6.col-md-offset-3
          = image_tag @user.gear_screenshot(:large)

