Your Stats

.stat
  AP
  = @user.ap || "Not Entered"

.stat
  DP
  = @user.dp || "Not Entered"

.item
  Bhegs
  = @user.bhegs

.item
  Muskan
  = @user.muskan

.item
  Giath
  = @user.giath

.item
  Tree
  = @user.tree

.item
  Zaka
  = @user.zaka

.item
  Dandy
  = @user.dandy

.item
  Kutum
  = @user.kutum

= link_to 'Edit Stats', edit_user_path(@user)
