!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title BdoStats
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-custom
      .container-fluid
        .navbar-header
          - if user_signed_in?
            .pull-left
              = link_to "BDO Stats", user_path(current_user), id: 'main-link'
            .pull-right
              %small
                = link_to('Logout', destroy_user_session_path, :method => :delete)
          - else
            .pull-left
              BDO Stats
            .pull-right
              %small
                = link_to('Login', new_user_session_path)
    .container
      = yield
