!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title BdoStats
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Francois+One'
    
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-custom
      .container-fluid
        .navbar-header
          - if user_signed_in?
            = link_to "BDO STATS", user_path(current_user), id: 'main-link'
          - else
            BDO Stats
        .pull-right
          %small
            - if user_signed_in?
              = link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'login-links'
            - else
              = link_to 'Login', new_user_session_path, class: 'login-links'
    .container
      .row
        .col-md-6.col-md-offset-3
        - flash.each do |key, value|
          .div{ class: "alert flash alert-#{key} bg-#{key}"}
            %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
              %span(aria-hidden="true")
                &times;
            = value

      = yield
    %footer.footer
      .container.navbar-custom
        %h5
          BDO STATS
          %p
            %small The BDO stat tracking tool
